body{
    font-family: 'Open Sans',sans-serif;
    background-color: #919191;
}
h1, h2{
    text-align: center;
    font-family: Montserrat;
}
.container{
    width: 288px;
    height: 480px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
}
.container2{
    width: 360px;
    height: 480px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
}
.container3{
    width: 360px;
    height: 480px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
}
.key{
    width: 70px;
    height: 70px;
    margin: 1px;
    float: left;
    border-width: 0;
    font-weight: bold;
    font-size: 20px;
}
.key-wide{
    width: 140px;
    height: 70px;
    margin: 1px;
    float: left;
    border-width: 0;
    font-weight: bold;
    font-size: 20px;
}
.output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
    color: black;
}
.history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
.result{
    height: 120px;
}
.key:hover, .key-wide:hover{
    background-color: lightgray;
}

.key, .key-wide{
    background-color: #eaedef;
}
.key, .key-wide{
    cursor: pointer;
}
.key:active, .key-wide:active{
    font-size: 13px;
}
.key:focus, .key-wide:focus{
    outline: 0;
}
.choose-buttons{
    display: flex;
    justify-content: center;
}
.choose-buttons > input{
    width: 150px;
    height: 50px;
    text-align: center;
    font-family: Montserrat;
    font-size: medium;
    font-weight: bolder;
}
